<form method="post" action="{{ path('app_aplicaciones_delete', {'id': aplicacione.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ aplicacione.id) }}">
    <button class="btn">Delete</button>
</form>
