<form method="post" action="{{ path('app_puntuaciones_delete', {'id': puntuacione.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ puntuacione.id) }}">
    <button class="btn">Delete</button>
</form>
